<div class="container-fluid footer bg-dark text-white">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <a
      href="/"
      class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
    >
      <img
        src="/MovieScopeLogo.png"
        alt="MovieScope Logo"
        width="150"
        class="me-4"
        style="height: auto"
      />
    </a>
    <div class="d-flex justify-content-center ms-4">
      <div class="d-flex flex-column ps-4">
        <p>Axel Mauricio Barraza Cardenas</p>
        <p>Codigo de Alumno: 223984261</p>
        <p>barrazaaxel2000<span>&#64;</span>gmail.com</p>
      </div>
      <div class="d-flex flex-column ps-4">
        <p>Conceptualización de entornos</p>
        <p>de desarrollo de aplicaciones y servicios</p>
      </div>
    </div>
  </div>
</div>
